/* navbar and background */
.bg-btn-color{
  background-image: linear-gradient(90deg,#e1559e,#1c144d);
  background-color: transparent;
  border: none;
  border-radius: 10px;
}
.bg-btn-color:focus{
  box-shadow: none !important ;
}
.text-grey-color,#numb::placeholder,#numb{
  color:#9aa4bd
}
.bg-btn-color:active{
  background-image: linear-gradient(90deg,#e1559e,#1c144d) !important;
  background-color: transparent !important;
  border: none !important;
}
.active{
  border-bottom: 2px solid #bf4b8e !important;
}
.nav-font{
  font-size: 20px;
}
.nav-link{
  padding: 0px;
  padding-bottom: 3px;

}
.main-bg,body{
  background-color: #070e1e;
}
.abz-bg{
  position: absolute;
  opacity: 0.1;
  left: 25%;
  top:25%
}
@media (max-width:350px){
.abznavlogo{
  width: 75% !important;
}
}
/* Staking */ 
.border-box{
  border:2px solid #0d2c41;
  border-radius: 12px;
}
.pointer{
  cursor:pointer
}

.dropdown-stake > div>button,.dropdown-stake > div>button:hover,.dropdown-stake > div>button:active{
  background:transparent !important;
  border:none
}
.dropdown-stake > div>button:focus{
  box-shadow: none !important;
  outline: none !important;

}
.dropdown-item:active,.dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #070e1e !important;
  cursor: pointer;
}
#numb{
  width:45%
}
@media (min-width:992px){
  #numb{
    width:35%
  }
}

/* Tier */
.abzbird{
  width: 51px;
  height: 41px;
}
.abzbird-stake{
  width: 35px;
  height: 35px;
}
.border-bottom-tier{
  border-bottom: 2px solid #0d2c41;
}

@media (min-width:1280px){
  .abz-bg{
    position: absolute;
    opacity: 0.1;
    left: 25%;
    top:18%;
  }
}

.dis-font-weight{
  font-weight: 700;
  font-size: 18px;
}


@media (max-width:420px){
  .tier-font{
    font-size: 14px;
  }
  .abz-bg{
    position: absolute;
    opacity: 0.1;
    left: 15%;
    top:30%;
    width: 75% !important;
  }
}